body{
	color: #efefef;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 15px #000000;

	background: 
	linear-gradient(
		rgba(17, 126, 112, 0.75), 
		rgba(0, 88, 255, 0.45)
		),

	url(https://jonnymelon.com/wp-content/uploads/2018/10/cloud-9.jpg);
	/*url(../images/Des.jpg);*/
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}

main {
	min-height: 100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

.container{
	display:flex;
	align-items:center;
	width:75%;
}

.overview{
	padding: 3em;
}

.fullname{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 3rem;
}

.job-title{
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	 width: 5rem;
	 border: none;
	 height: 2px;
	 background-color: #00BCD4;
	 margin: 1.5rem 0;
}

.description{_
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1.75;
}

.description span{
	font-style: italic;


}

.quote{
	color: #ffc107;
	font-size: .75rem;
}

.quote br{
	align-content: right;
}

.works{
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.works img{
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.social-media a{
	color: #efefef;
	margin: 0 .5rem;
	font-size: 1.5rem;
	opacity: .75;
}

.social-media a:hover{
	opacity:1;
}

.ad{
	margin: .5rem;
	font-size: 1rem;
}

.ad a{
	color: #00BCD4;
}

.image-container{
	width: 100%;
	padding: 3rem;
}

.image-container img{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:auto;
	display: block;
	border: .25rem solid #ddd;
}

/*Set responsive layout*/
@media (max-width: 980px){
	.container{
		flex-direction: column;
	}

	.image-container{
		width: 100%;
		padding: 3rem 0 0;

	}

	.overview{
		order: 1;
		padding: 3rem 0;
	}

	main{
		background: 
			linear-gradient(rgba(0, 255, 222, 0, 0.45), 
			rgba(0, 88, 255, 0.45)),
			url(https://jonnymelon.com/wp-content/uploads/2018/10/cloud-9.jpg);
			background-repeat: no-repeat;
	}

	.fullname, .job-title{
		text-align: center;
	}

	.job-title{
		font-weight: bolder;
	}

	.description{
		text-align: center;
	}

	.quote{
		text-align: center;
	}

	hr{
		margin:auto;
	}

	.social-media{
		text-align: center;
		margin-top: 3rem;
	}

	.ad{
		text-align: center;
	}

	.works{
		text-align: center;
	}
}